<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button{{ if eq .expanded "false" }} collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ .id }}" aria-expanded="{{ .expanded }}" aria-controls="{{ .id }}">
			<h5 class="m-0 p-0">{{ .question }}</h5>
		</button>
	</h2>
	<div id="{{ .id }}" class="accordion-collapse collapse{{ if eq .expanded "true" }} show{{ end }}" data-bs-parent="#accordionFAQ">
		<div class="accordion-body">
			<p class="m-0 p-0">{{ .answer }}</p>
		</div>
	</div>
</div>